{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Le Blog De Batman</h1>
        </div>

        <div class="row">
            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet, consectetur.</h2>
            <p class="col-12 col-md-10 mx-auto text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at corporis debitis, dicta, eos eveniet ex exercitationem magnam neque nulla pariatur perferendis quia suscipit, tempore veritatis vero voluptas voluptates voluptatum. Enim illo illum iste minus molestias odit ratione sit tempora totam voluptatibus? Doloribus in labore mollitia necessitatibus temporibus vero voluptate?</p>
        </div>

        {#Bandeau image fixe#}
        <div class="row my-5 batman-cover"></div>

        <div class="row">

        <div class="col-12 col-md-8 mx-auto">

            <div class="row">
                <h2 class="col-12 text-center">Dernieres publications</h2>
            </div>

            {% for article in articles %}

                {# Un article #}
                <div class="row">

                    <div class="col-12">

                        <div class="card my-3 bg-black">

                            <div class="card-header">
                                <a href="{{ path('blog_publication_view', {'id': article.id, 'slug': article.slug}) }}" class="text-decoration-none">
                                    <i class="far fa-newspaper me-2"></i>
                                    {{ article.title}}
                                </a>
                            </div>

                            <div class="card-body">

                                <div class="mb-2">

                                    {{ article.content|striptags|excerpt(50) }}
                                    <a class="text-decoration-none" href="{{ path('blog_publication_view', {'id': article.id, 'slug': article.slug}) }}">Lire la suite</a>

                                </div>

                                <footer class="blockquote-footer my-2">Publié le <strong>{{ article.publicationDate| date('d/m/y à H\\hi') }}</strong> par <strong>{{ article.author.pseudonym }}</strong></footer>

                            </div>

                        </div>

                    </div>

                </div>

            {%else%}

                <div class="row">
                    <p class="col-12 text-center alert alert-warning">Aucune publication à afficher.</p>
                </div>

            {%endfor%}

        </div>

        </div>

        <div class="row mb-5">
            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet, consectetur.</h2>
            <p class="col-12 col-md-10 mx-auto text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at corporis debitis, dicta, eos eveniet ex exercitationem magnam neque nulla pariatur perferendis quia suscipit, tempore veritatis vero voluptas voluptates voluptatum. Enim illo illum iste minus molestias odit ratione sit tempora totam voluptatibus? Doloribus in labore mollitia necessitatibus temporibus vero voluptate?</p>
        </div>

    </div>

{% endblock %}
